<div id="bu-new-titles" class="container-fluid">
    <div class="row">

        <div id="bu-scrollbtn-left" class="col d-flex align-items-center">
            <button class="btn bu-scrollbtn" ng-click="$ctrl.scrollLeft()">
                <img class="bu-nt-btn-img " src="images/left.svg">
            </button>
        </div>
        
        
        <div id="bu-outer-carousel" class="col">
            <div id="bu-inner-carousel">
                <div class="bu-book" 
                ng-repeat="book in $ctrl.display track by $index" 
                ng-mouseover="this.hoverTitle = true"
                ng-mouseleave="this.hoverTitle = false">
                    <a href="https://ocul-bu.primo.exlibrisgroup.com/discovery//fulldisplay?docid=alma{{book.mmsid}}&context=L&vid=01OCUL_BU:BU_TEST_DAN&lang=en">
                        <img class="bu-book-img" src="https://syndetics.com/index.php?client=primo&isbn={{book.isbn}}/mc.jpg"></img>
                    </a>
                    <span class="bu-book-title" ng-if="this.hoverTitle"> {{book.title}} </span>
                </div>
                
            </div>
        </div>

        <div id="bu-scrollbtn-right" class="col d-flex align-items-center">
            <button class="btn bu-scrollbtn" ng-click="$ctrl.scrollRight()">
                <img class="bu-nt-btn-img" src="images/right.svg">
            </button>
        </div>

    </div>

</div>   