<!DOCTYPE html>
<html ng-app="newTitles">
  <head>
    <meta charset="utf-8">
    <title>New Titles</title>
    <meta name="viewport" content="width=device-width">
    
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/css/bootstrap.min.css" integrity="sha512-CpIKUSyh9QX2+zSdfGP+eWLx23C8Dj9/XmHjZY2uDtfkdLGo0uY12jgcnkX9vXOgYajEKb/jiw67EYm+kBf+6g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.2/js/bootstrap.min.js" integrity="sha512-5BqtYqlWfJemW5+v+TZUs22uigI8tXeVah5S/1Z6qBLVO7gakAOtkOzUtgq6dsIo5c0NJdmGPs0H9I+2OHUHVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js" integrity="sha512-KZmyTq3PLx9EZl0RHShHQuXtrvdJ+m35tuOiwlcZfs/rE7NZv29ygNA8SFCkMXTnYZQK2OX0Gm2qKGfvWEtRXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    
    <script src="js/app.js"></script>
    
  </head>
  <body class="bg-secondary">
    <div ng-controller="MainController as $ctrl">
      <div id="bu-new-titles" class="container-fluid" ng-show="$ctrl.showDisplay">
        <div class="row">
    
            <div id="bu-scrollbtn-left" class="col d-flex align-items-center">
                <button class="bu-scrollbtn" ng-click="$ctrl.scrollLeft()">
                    <img class="bu-nt-btn-img " src="images/left.svg">
                </button>
            </div>
            
            
            <div id="bu-outer-carousel" class="col">
                <div id="bu-inner-carousel">
                    <div class="bu-book" 
                    ng-repeat="book in $ctrl.display track by $index" 
                    ng-mouseover="this.hoverTitle = true"
                    ng-mouseleave="this.hoverTitle = false">
                        <a class="bu-book-link" href="https://ocul-bu.primo.exlibrisgroup.com/discovery//fulldisplay?docid=alma{{book.mmsid}}&context=L&vid=01OCUL_BU:BU_TEST_DAN&lang=en" draggable="false" target="_blank">  
                            <img class="bu-book-img" src="https://syndetics.com/index.php?client=primo&isbn={{book.isbn}}/mc.jpg" draggable="false"></img>
                        </a>
                        <span class="bu-book-title" ng-if="this.hoverTitle"> {{book.title}} </span>
                    </div>
                    
                </div>
            </div>
    
            <div id="bu-scrollbtn-right" class="col d-flex align-items-center">
                <button class="bu-scrollbtn" ng-click="$ctrl.scrollRight()">
                    <img class="bu-nt-btn-img" src="images/right.svg">
                </button>
            </div>

            <div id="bu-view" class="col d-flex align-items-center">
                <button id="bu-view-btn" class="bu-scrollbtn" ng-click="$ctrl.viewAll()">
                    View All
                </button>
            </div>
    
        </div>
    
    </div>   
    </div>
  </body>
</html>